// IMPORT SECTION
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/owl.carousel/dist/assets/owl.carousel";

// USER VARIABLES SECTION

$accent: #592c82; // Accent Color
$fontsize: 16px; // Body Font Size
$base-font-size: $fontsize;
$textcolor: #fff; // Text Color
$purple: #6e4e60;
$gray: #c7c7c7;

$mainfamily: News Gothic BT, sans-serif; // Main Font Family
$newsGothic: NewsGothic, sans-serif;
$din: DIN Pro, sans-serif;

$base-duration: 0.3s;
$base-timing: ease-in-out;

$max-width: 1440px;
$contentPadding: 20px;

$big-bp: 1920px;
$mobile-bp: 992px;
$lg-bp: 1400px;

// FONTS LOAD SECTION
@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url + ".woff2") format("woff2");
    src: url($f-url + ".woff") format("woff");
  }
}

@font-face {
  font-family: "News Gothic BT";
  src: url("../fonts/NewsGothicBT-Light.woff2") format("woff2"),
    url("../fonts/NewsGothicBT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NewsGothic";
  src: url("../fonts/NewsGothicBT-Light.woff2") format("woff2"),
    url("../fonts/NewsGothicBT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NewsGothic";
  src: url("../fonts/NewsGothic.woff2") format("woff2"),
    url("../fonts/NewsGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "News Gothic BT";
  src: url("../fonts/NewsGothicBT-Bold.woff2") format("woff2"),
    url("../fonts/NewsGothicBT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "News Gothic BT";
  src: url("../fonts/NewsGothicBT-Regular.woff2") format("woff2"),
    url("../fonts/NewsGothicBT-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NewsGoth BT";
  src: url("../fonts/NewsGothicBT-Roman.woff2") format("woff2"),
    url("../fonts/NewsGothicBT-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro.woff2") format("woff2"),
    url("../fonts/DINPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"),
    url("../fonts/DINPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@include font("ruble", normal, 400, "../fonts/rubl");
